.profileUserHeading{
    color: #BFBFBF;
    font-family: Outfit;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.profileRollText{
    color: #BFBFBF;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.profileEachBlock{
    margin-bottom: 70px;
}

.profileLeftSideCon{
    width: 40%;
    border-right:none;
    position: sticky;
    top:0;
}

.profileRightSideCon{
    width: 60%;
}

.resumeBtn{
    border-radius: 6px;
    background: linear-gradient(90deg, rgba(24, 89, 86, 0.80) 0%, rgba(52, 191, 185, 0.80) 100%);
    color: #FFF;
    font-family: "Fira Code";
    font-size: 22px;
    font-weight: 600;
    gap:4px;
    padding: 6px;
    padding-left: 9px;
    padding-right: 9px;
    display: flex;
    justify-content:center;
    align-items:center;
    border: none;
    margin-top:29px;
    cursor: pointer;
}

.profileIconBtns{
    border-radius:50% !important;
}

.profileResumeBtnsCon{
    display: flex;
    gap:16px;
}

.myProfileDesignetion{
    color: #43D9AD;
    font-family: Quicksand;
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 16px;
}

.myProfileObjective{
    color: #FFF;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px; /* 118.182% */
    margin-bottom: 28px;
}


/* TAB */
@media only screen and (min-width: 801px) and (max-width: 1280px) {
    .profileUserHeading{
        font-size: 28px;
    }
    
    .profileRollText{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .resumeBtn{
        border-radius: 4px;
        font-size: 18px;
        padding: 4px;
        padding-left: 6px;
        padding-right: 6px;
        margin-top:18px;
    }

    .profileEachBlock{
        margin-bottom: 40px;
    }
    
}


/* MOBILE */
@media only screen and (max-width: 800px) {
    .resumeBtn{
        border-radius: 4px;
        font-size: 14px;
        padding: 4px;
        padding-left: 6px;
        padding-right: 6px;
        margin-top:16px;
    }
}