*{
    transition-duration:0.2s;
}

.skillsMainCon{
    width: 100%;
    overflow-y: auto;
    max-height: 400px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.eachSkillsBtn{
    color: rgba(255, 255, 255, 0.60);
    font-family: "Fira Code";
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items:center;
    cursor: pointer;
    margin-bottom: 20px;
    transition-duration:0.2s;
}

.eachSkillsBtnHrLine{
    border-bottom: 1px solid rgba(255, 255, 255, 0.60);
    width: 79px;
    margin-right: 14px;
    transition-duration:0.2s;
}

.companyIconEl{
    width: 16.222px;
    height: 14.6px;
    margin-right: 8px;
    opacity: 0.5;
}

.eachSkillsBtn:hover {
    color: #FFF;

    .eachSkillsBtnHrLine{
        width: 100px !important;
        transition-duration:0.2s;
        border-color: #FFF;
    }

    .companyIconEl{
        opacity: 1;
    }
}


.skillsSelectedHeading{
    color: #FFF;
    font-family: Outfit;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.12px;
    display: flex;
    align-items:center;
    gap:12px;
    margin-bottom: 30px;
}

.skillsSelectedHeading svg{
    width: 24px;
    height: 24px;
}

.skillsNamesDisplayCon{
    gap:20px;
    transition-duration:0.2s;
    transition-delay:0.2s;
}

.skillsRightMainHeading{
    color: #43D9AD;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.skillsRightContant{
    color: #BFBFBF;
    font-family: Outfit;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.96px;
    margin-bottom: 40px;
}

.skillsIconsDisplayBox{
    border-radius: 4px;
    border: 1px solid rgba(252, 252, 252, 0.51);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 20px 0px rgba(194, 194, 194, 0.20);
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    gap:30px;
}

.skillBox{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 110px;
}

.skillBox img{
    width: 48px;
    height: 48px;
}

.skillBox span{
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 500;
}

.skillsLeftSideCon{
    width: 45%;
    border-right:1px solid rgba(255, 255, 255, 0.60);
    position: sticky;
    top:0;
}

.skillsRightSideCon{
    width: 45%;
}


/* TAB */
@media only screen and (min-width: 801px) and (max-width: 1280px) {
    .skillsRightMainHeading{
        font-size: 24px;
        margin-bottom: 8px;
    }
    
    .skillsRightContant{
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .skillsIconsDisplayBox{
        padding: 12px;
        gap:20px;
    }
    
    .skillBox{
        width: 70px;
    }
    
    .skillBox img{
        width: 35px;
        height: 35px;
    }
    
    .skillBox span{
        font-size: 14px;
    }

    .skillsSelectedHeading{
        font-size: 22px;
        gap:8px;
        margin-bottom: 20px;
    }
    
    .skillsSelectedHeading svg{
        width: 20px;
        height: 20px;
    }
    
    .skillsNamesDisplayCon{
        gap:16px;
    }

    .eachSkillsBtnHrLine{
        width: 60px;
        margin-right: 10px;
    }
    
    .companyIconEl{
        width: 16.222px;
        height: 14.6px;
        margin-right: 6px;
    }
    
    .eachSkillsBtn:hover {    
        .eachSkillsBtnHrLine{
            width: 80px !important;
        }
    }
}


/* MOBILE */
@media only screen and (max-width: 800px) {
    .skillsRightMainHeading{
        font-size: 24px;
        margin-bottom: 8px;
    }
    
    .skillsRightContant{
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .skillsIconsDisplayBox{
        padding: 12px;
        gap:20px;
    }
    
    .skillBox{
        width: 70px;
    }
    
    .skillBox img{
        width: 35px;
        height: 35px;
    }
    
    .skillBox span{
        font-size: 14px;
    }

    .skillsSelectedHeading{
        font-size: 22px;
        gap:8px;
        margin-bottom: 20px;
    }
    
    .skillsSelectedHeading svg{
        width: 20px;
        height: 20px;
    }
    
    .skillsNamesDisplayCon{
        gap:16px;
    }

    .eachSkillsBtnHrLine{
        width: 60px;
        margin-right: 10px;
    }
    
    .companyIconEl{
        width: 16.222px;
        height: 14.6px;
        margin-right: 6px;
    }
    
    .eachSkillsBtn:hover {    
        .eachSkillsBtnHrLine{
            width: 80px !important;
        }
    }
}