.expereinceMainCon{
    width: 100%;
    overflow-y: auto;
    max-height: 400px;
    padding-top: 60px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

.expereinceEachBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}

.topCompanyDetailsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 19px;
}

.topCompanyDetailsLeftBox{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.comapanyNumber{
    color: gray;
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
}

.comapanyRoll{
    color: #FFF;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2.2px;
}

.topCompanyDetailsMiddleBox{
    width: 108px;
    height: 108px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #43D9AD;
    background: #FFF;
}

.topCompanyDetailsMiddleBox img{
    width: 90%;
    height: 90%;
    flex-shrink: 0;
}

.topCompanyDetailsRightBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.comapanyName{
    color: #43D9AD;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.comapanyJoiningDate{
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 900;
}

.bottomCardHoldingCon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.CompanyDetailscardHoldingCon{
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ifCardIsLeftSide{
    padding-right: 7%;
}

.ifCardIsRightSide{
    padding-left: 7%;
}

.CompanyCardRightSideSpace{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.CompanyDetailscard{
    background: rgba(255, 255, 255, 0.11);
    width: 90%;
    padding: 14px;
}

.companyDescNumber{
    color: #607B96;
    text-align: right;
    font-family: "Fira Code";
    font-size: 18px;
    font-weight: 450;
}

.companyDesc{
    color: #FFF;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 400;
}

.CompanycardContantCon{
    display: flex;
    gap:16px;
    margin-bottom: 15px;
}

.companyNameVertical{
    font-family:Tourney;
    font-size: 60px;
    color: gray;
    writing-mode: vertical-rl; 
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
}

.hrLineInCenter{
    height: 100%;
    width: 1px solid  rgba(255, 255, 255, 0.47);
    position: absolute;
    left: 49.5%;
    z-index: 0;
}


@media only screen and (min-width: 801px) and (max-width: 1280px) {
    .CompanycardContantCon{
        gap:10px;
        margin-bottom: 10px;
    }

    .expereinceMainCon{
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .companyDesc,
    .companyDescNumber{
        font-size: 14px;
    }

    .comapanyNumber{
        font-size: 32px;
    }
    
    .comapanyName,
    .comapanyRoll{
        font-size: 18px;
    }
    
    .comapanyJoiningDate{
        font-size: 16px;
    }

    .topCompanyDetailsMiddleBox{
        width: 80px;
        height: 80px;
        border: 3px solid #43D9AD;
    }

    .companyNameVertical{
        font-size: 40px;
    }

    .CompanyDetailscardHoldingCon{
        width: 94%;
    }
    
    .ifCardIsLeftSide{
        padding-right: 6%;
    }
    
    .ifCardIsRightSide{
        padding-left: 6%;
    }

    .bottomCardHoldingCon{
        margin-top: 10px;
    }

    .expereinceEachBox{
        margin-bottom: 36px;
    }
    
}

/* MOBILE */
@media only screen and (max-width: 800px) {
}